.App {
  text-align: center;
  background-color: #bdd3fa;
  width: auto;
  height: 1500px;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #61dafb;
}

.grid-table {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
}

.grid-image {
  justify-self: center;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-adjusted {

  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.grid-map {
  padding: 4%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

